<h1>Departamentos</h1>

<div class="tarjeta">
  <h2>{{ modoEdicion ? 'Editar departamento' : 'Crear departamento' }}</h2>

  <label>Nombre</label>
  <input title="nombre" [(ngModel)]="departamentoFormulario.nombre">

  <label>Descripción</label>
  <textarea title="descripción" [(ngModel)]="departamentoFormulario.descripcion"></textarea>

  <div class="acciones">
    <button (click)="guardarDepartamento()">
      {{ modoEdicion ? 'Actualizar departamento' : 'Crear departamento' }}
    </button>

    <button type="button" (click)="limpiarFormulario()">Limpiar</button>

    <button type="button" (click)="listarDepartamentos()">Recargar departamentos</button>
  </div>

  <p class="mensaje">{{ mensaje }}</p>
</div>

<table class="tabla-simple" *ngIf="departamentos.length > 0">
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let departamento of departamentos">
      <td>{{ departamento.id }}</td>
      <td>{{ departamento.nombre }}</td>
      <td>{{ departamento.descripcion }}</td>
      <td>
        <button (click)="editarDepartamento(departamento)">Editar</button>
        <button (click)="eliminarDepartamento(departamento)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>