<nav class="menu-principal">
  <div class="titulo-sistema">POLITICAS_NEGOCIO</div>

  <a routerLink="/panel-administrador" (click)="notificarRecargaGeneral()">Panel administrador</a>
  <a routerLink="/panel-funcionario" (click)="notificarRecargaGeneral()">Panel funcionario</a>
  <a routerLink="/procesos" (click)="notificarRecargaGeneral()">Procesos</a>
  <a routerLink="/departamentos" (click)="notificarRecargaGeneral()">Departamentos</a>
  <a routerLink="/tramites" (click)="notificarRecargaGeneral()">Trámites</a>
  <a routerLink="/documentos-comunicados" (click)="notificarRecargaGeneral()">Documentos y comunicados</a>
  <a routerLink="/indicadores" (click)="notificarRecargaGeneral()">Indicadores</a>
  <a routerLink="/diagramas" (click)="notificarRecargaGeneral()">Diagramas e IA</a>
</nav>