.menu-principal {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 20px;
  background: #102a43;
  color: white;
}

.titulo-sistema {
  font-weight: bold;
  margin-right: 20px;
}

.menu-principal a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.menu-principal a:hover {
  text-decoration: underline;
}