<nav class="menu-principal">
  <div class="titulo-sistema">POLITICAS_NEGOCIO</div>

  <a routerLink="/panel-administrador">Panel administrador</a>
  <a routerLink="/panel-funcionario">Panel funcionario</a>
  <a routerLink="/procesos">Procesos</a>
  <a routerLink="/departamentos">Departamentos</a>
  <a routerLink="/tramites">Trámites</a>
  <a routerLink="/documentos-comunicados">Documentos y comunicados</a>
  <a routerLink="/indicadores">Indicadores</a>
  <a routerLink="/diagramas">Diagramas e IA</a>
</nav>